.home-page {
    background-color: #ffffff;
    height: 3524px;
    overflow: hidden;
    position: relative;
    width: 1280px;
}

.home-page .overlap {
    height: 1043px;
    left: 0;
    position: absolute;
    top: 2365px;
    width: 1547px;
}

.home-page .rectangle {
    background-color: #4a5573;
    height: 1043px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1280px;
}

.home-page .div {
    background: linear-gradient(
        180deg,
        rgb(75, 86, 115) 0%,
        rgb(101, 108, 129) 100%
    );
    height: 89px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1280px;
}

.home-page .meet-the-team {
    color: #ffffff;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-size: 75px;
    font-weight: 400;
    left: 72px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 113px;
    width: 496px;
}

.home-page .frame {
    align-items: center;
    display: flex;
    gap: 57px;
    left: 482px;
    position: absolute;
    top: 233px;
    width: 1065px;
}

.home-page .img {
    height: 317.14px;
    position: relative;
    width: 317.14px;
}

.home-page .jocylyn {
    height: 317px;
    left: 482px;
    position: absolute;
    top: 614px;
    width: 680px;
}

.home-page .we-empower-FGLI {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 68px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 799px;
    width: 378px;
}

.home-page .unnamed-removebg {
    height: 275px;
    left: 875px;
    object-fit: cover;
    position: absolute;
    top: 596px;
    width: 279px;
}

.home-page .text-wrapper {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 959px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 890px;
    width: 112px;
}

.home-page .overlap-group {
    height: 2365px;
    left: -218px;
    position: absolute;
    top: 0;
    width: 1635px;
}

.home-page .overlap-2 {
    height: 2365px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1635px;
}

.home-page .rectangle-2 {
    background-color: #646c80;
    height: 946px;
    left: 218px;
    position: absolute;
    top: 1419px;
    width: 1280px;
}

.home-page .rectangle-3 {
    background-color: #4a5573;
    height: 637px;
    left: 209px;
    position: absolute;
    top: 738px;
    width: 1313px;
}

.home-page .rectangle-4 {
    background: linear-gradient(
        180deg,
        rgb(75, 86, 115) 0%,
        rgb(101, 108, 129) 100%
    );
    height: 88px;
    left: 201px;
    position: absolute;
    top: 1375px;
    width: 1313px;
}

.home-page .rectangle-5 {
    background-color: #d9d9d9;
    height: 673px;
    left: 218px;
    position: absolute;
    top: 65px;
    width: 1280px;
}

.home-page .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 755px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 47px;
}

.home-page .pexels {
    height: 738px;
    left: 218px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1280px;
}

.home-page .group {
    height: 495px;
    left: 0;
    position: absolute;
    top: 243px;
    width: 1635px;
}

.home-page .mask-group {
    height: 495px;
    left: 218px;
    position: absolute;
    top: 0;
    width: 1280px;
}

.home-page .a-space-for-FGLI {
    color: #ffffff;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-size: 75px;
    font-weight: 400;
    left: 283px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-shadow: 0px 4px 4px #00000040;
    top: 399px;
    width: 672px;
}

.home-page .span {
    color: #ffffff;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-size: 75px;
    font-weight: 400;
    letter-spacing: 0;
}

.home-page .text-wrapper-3 {
    font-family: "Metal-Regular", Helvetica;
}

.home-page .text-wrapper-4 {
    color: #ffffff;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-size: 75px;
    font-weight: 400;
    left: 283px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 840px;
    width: 496px;
}

.home-page .text-wrapper-5 {
    color: #ffffff;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 706px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1305px;
    width: 682px;
}

.home-page .text-wrapper-6 {
    color: #ffffff;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-size: 75px;
    font-weight: 400;
    left: 290px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1479px;
    width: 496px;
}

.home-page .text-wrapper-7 {
    color: #ffffff;
    font-family: "Jura-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 569px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
}

.home-page .group-2 {
    height: 1374px;
    left: 232px;
    position: absolute;
    top: 12px;
    width: 1261px;
}

.home-page .navbar-wrapper {
    -webkit-backdrop-filter: blur(8.7px) brightness(100%);
    backdrop-filter: blur(8.7px) brightness(100%);
    background-color: #4a557380;
    border-radius: 9px;
    box-shadow: inset 0px 4px 18.4px 13px #041e674c;
    height: 72px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1255px;
}

.home-page .navbar {
    align-items: center;
    box-shadow: 0px 4px 4px #041e6780;
    display: inline-flex;
    gap: 63px;
    left: 404px;
    position: relative;
    top: 21px;
}

.home-page .text-wrapper-8 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: 79px;
}

.home-page .text-wrapper-9 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-shadow: 0px 4px 4px #00000040;
    width: 51px;
}

.home-page .text-wrapper-10 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-shadow: 0px 4px 4px #00000040;
    width: 77px;
}

.home-page .text-wrapper-11 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-shadow: 0px 4px 4px #00000040;
    width: 47px;
}

.home-page .p {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 529px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 538px;
    width: 672px;
}

.home-page .text-wrapper-12 {
    color: #bad2e5;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 529px;
    letter-spacing: 2.60px;
    line-height: normal;
    position: absolute;
    top: 658px;
    width: 672px;
}

.home-page .text-wrapper-13 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1170px;
    width: 354px;
}

.home-page .frame-2 {
    box-shadow: 0px 4px 4px #041e6780;
    height: 34px;
    left: 1100px;
    position: absolute;
    top: 33px;
    width: 354px;
}

.home-page .group-3 {
    height: 68px;
    left: 232px;
    position: absolute;
    top: 12px;
    width: 987px;
}

.home-page .unnamed-removebg-2 {
    height: 76px;
    left: -4px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 77px;
}

.home-page .text-wrapper-14 {
    color: #ffffff;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 73px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-shadow: 0px 4px 4px #041e6780;
    top: 24px;
    width: 912px;
}

.home-page .vector {
    height: 1px;
    left: 761px;
    object-fit: cover;
    position: absolute;
    top: 702px;
    width: 330px;
}

.home-page .event-icon {
    height: 363px;
    left: 702px;
    position: absolute;
    top: 918px;
    width: 338px;
}

.home-page .event-icon-2 {
    height: 363px;
    left: 1091px;
    position: absolute;
    top: 918px;
    width: 338px;
}

.home-page .group-4 {
    height: 369px;
    left: 571px;
    position: absolute;
    top: 1980px;
    width: 862px;
}

.home-page .text-wrapper-15 {
    color: #ffffff;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 478px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 382px;
}

.home-page .frame-3 {
    align-items: center;
    display: flex;
    gap: 38px;
    left: 0;
    position: absolute;
    top: 63px;
    width: 857px;
}

.home-page .overlap-group-wrapper {
    height: 305px;
    position: relative;
    width: 433px;
}

.home-page .overlap-group-2 {
    height: 305px;
    position: relative;
}

.home-page .pexels-ekaterina {
    height: 298px;
    left: 0;
    position: absolute;
    top: 0;
    width: 428px;
}

.home-page .group-5 {
    height: 115px;
    left: 0;
    position: absolute;
    top: 190px;
    width: 433px;
}

.home-page .we-empower-FGLI-2 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: 373px;
}

.home-page .group-6 {
    height: 370px;
    left: 706px;
    position: absolute;
    top: 1553px;
    width: 721px;
}

.home-page .mentorship-community {
    color: #ffffff;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 382px;
}

.home-page .frame-4 {
    align-items: center;
    display: flex;
    gap: 38px;
    left: 0;
    position: absolute;
    top: 63px;
    width: 719px;
}

.home-page .we-empower-FGLI-3 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.50px;
    position: relative;
    width: 373px;
}

.home-page .div-wrapper {
    height: 307px;
    position: relative;
    width: 308px;
}

.home-page .overlap-group-3 {
    height: 307px;
    position: relative;
}

.home-page .element-hero {
    height: 304px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 304px;
}

.home-page .group-7 {
    height: 115px;
    left: 0;
    position: absolute;
    top: 192px;
    width: 308px;
}

.home-page .text-wrapper-16 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 1414px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 32px;
    width: 56px;
}

.home-page .group-8 {
    height: 34px;
    left: 1532px;
    position: absolute;
    top: 2218px;
    width: 76px;
}

.home-page .text-wrapper-17 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 74px;
}

.home-page .overlap-wrapper {
    height: 116px;
    left: -65px;
    position: absolute;
    top: 3408px;
    width: 1426px;
}

.home-page .overlap-3 {
    background-color: #000000;
    height: 116px;
    position: relative;
    width: 1416px;
}

.home-page .text-wrapper-18 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 231px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30px;
    width: 255px;
}

.home-page .text-wrapper-19 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 983px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30px;
    width: 255px;
}

.home-page .text-wrapper-20 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 983px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 64px;
    width: 255px;
}

.home-page .text-wrapper-21 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 231px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 64px;
    width: 177px;
}

.home-page .text-wrapper-22 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 1258px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 41px;
    width: 45px;
}

.home-page .unnamed-removebg-3 {
    height: 101px;
    left: 113px;
    object-fit: cover;
    position: absolute;
    top: 11px;
    width: 102px;
}
