.home-page {
    background-color: #ffffff;
    height: 3524px;
    overflow: hidden;
    position: relative;
    width: 1280px;
}

.home-page .overlap {
    height: 1043px;
    left: 0;
    position: absolute;
    top: 2365px;
    width: 1547px;
}

.home-page .rectangle {
    background-color: #4a5573;
    height: 1043px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1280px;
}

.home-page .div {
    background: linear-gradient(
        180deg,
        rgb(75, 86, 115) 0%,
        rgb(101, 108, 129) 100%
    );
    height: 89px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1280px;
}

.home-page .meet-the-team {
    color: #ffffff;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-size: 75px;
    font-weight: 400;
    left: 72px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 113px;
    width: 496px;
}

.home-page .frame {
    align-items: center;
    display: flex;
    gap: 57px;
    left: 482px;
    position: absolute;
    top: 233px;
    width: 1065px;
}

.home-page .img {
    height: 317.14px;
    position: relative;
    width: 317.14px;
}

.home-page .jocylyn {
    height: 317px;
    left: 482px;
    position: absolute;
    top: 614px;
    width: 680px;
}

.home-page .we-empower-FGLI {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 68px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 799px;
    width: 378px;
}

.home-page .unnamed-removebg {
    height: 275px;
    left: 875px;
    object-fit: cover;
    position: absolute;
    top: 596px;
    width: 279px;
}

.home-page .text-wrapper {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 959px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 890px;
    width: 112px;
}

.home-page .overlap-group {
    height: 2365px;
    left: -218px;
    position: absolute;
    top: 0;
    width: 1635px;
}

.home-page .overlap-2 {
    height: 2365px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1635px;
}

.home-page .rectangle-2 {
    background-color: #646c80;
    height: 946px;
    left: 218px;
    position: absolute;
    top: 1419px;
    width: 1280px;
}

.home-page .rectangle-3 {
    background-color: #4a5573;
    height: 637px;
    left: 209px;
    position: absolute;
    top: 738px;
    width: 1313px;
}

.home-page .rectangle-4 {
    background: linear-gradient(
        180deg,
        rgb(75, 86, 115) 0%,
        rgb(101, 108, 129) 100%
    );
    height: 88px;
    left: 201px;
    position: absolute;
    top: 1375px;
    width: 1313px;
}

.home-page .rectangle-5 {
    background-color: #d9d9d9;
    height: 673px;
    left: 218px;
    position: absolute;
    top: 65px;
    width: 1280px;
}

.home-page .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 755px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 47px;
}

.home-page .pexels {
    height: 738px;
    left: 218px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1280px;
}

.home-page .group {
    height: 495px;
    left: 0;
    position: absolute;
    top: 243px;
    width: 1635px;
}

.home-page .mask-group {
    height: 495px;
    left: 218px;
    position: absolute;
    top: 0;
    width: 1280px;
}

.home-page .a-space-for-FGLI {
    color: #ffffff;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-size: 75px;
    font-weight: 400;
    left: 283px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-shadow: 0px 4px 4px #00000040;
    top: 399px;
    width: 672px;
}

.home-page .span {
    color: #ffffff;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-size: 75px;
    font-weight: 400;
    letter-spacing: 0;
}

.home-page .text-wrapper-3 {
    font-family: "Metal-Regular", Helvetica;
}

.home-page .text-wrapper-4 {
    color: #ffffff;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-size: 75px;
    font-weight: 400;
    left: 283px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 840px;
    width: 496px;
}

.home-page .text-wrapper-5 {
    color: #ffffff;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 706px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1305px;
    width: 682px;
}

.home-page .text-wrapper-6 {
    color: #ffffff;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-size: 75px;
    font-weight: 400;
    left: 290px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1479px;
    width: 496px;
}

.home-page .text-wrapper-7 {
    color: #ffffff;
    font-family: "Jura-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 569px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
}

.home-page .group-2 {
    height: 1374px;
    left: 232px;
    position: absolute;
    top: 12px;
    width: 1261px;
}

.home-page .navbar-wrapper {
    -webkit-backdrop-filter: blur(8.7px) brightness(100%);
    backdrop-filter: blur(8.7px) brightness(100%);
    background-color: #4a557380;
    border-radius: 9px;
    box-shadow: inset 0px 4px 18.4px 13px #041e674c;
    height: 72px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1255px;
}

.home-page .navbar {
    align-items: center;
    box-shadow: 0px 4px 4px #041e6780;
    display: inline-flex;
    gap: 63px;
    left: 404px;
    position: relative;
    overflow: hidden;
    width: max-content;
    top: 21px;
}

.home-page .text-wrapper-8 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: 79px;
}

.home-page .text-wrapper-9 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-shadow: 0px 4px 4px #00000040;
    width: 51px;
}

.home-page .text-wrapper-10 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-shadow: 0px 4px 4px #00000040;
    width: 77px;
}

.home-page .text-wrapper-11 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-shadow: 0px 4px 4px #00000040;
    width: 47px;
}

.home-page .p {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 529px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 538px;
    width: 672px;
}

.home-page .text-wrapper-12 {
    color: #bad2e5;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 529px;
    letter-spacing: 2.60px;
    line-height: normal;
    position: absolute;
    top: 658px;
    width: 672px;
}

.home-page .text-wrapper-13 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1170px;
    width: 354px;
}

.home-page .frame-2 {
    box-shadow: 0px 4px 4px #041e6780;
    height: 34px;
    left: 1100px;
    position: absolute;
    top: 33px;
    width: 354px;
}

.home-page .group-3 {
    height: 68px;
    left: 232px;
    position: absolute;
    top: 12px;
    width: 987px;
}

.home-page .unnamed-removebg-2 {
    height: 76px;
    left: -4px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 77px;
}

.home-page .text-wrapper-14 {
    color: #ffffff;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 73px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-shadow: 0px 4px 4px #041e6780;
    top: 24px;
    width: 912px;
}

.home-page .vector {
    height: 1px;
    left: 761px;
    object-fit: cover;
    position: absolute;
    top: 702px;
    width: 330px;
}

.home-page .event-icon {
    height: 363px;
    left: 702px;
    position: absolute;
    top: 918px;
    width: 338px;
}

.home-page .event-icon-2 {
    height: 363px;
    left: 1091px;
    position: absolute;
    top: 918px;
    width: 338px;
}

.home-page .group-4 {
    height: 369px;
    left: 571px;
    position: absolute;
    top: 1980px;
    width: 862px;
}

.home-page .text-wrapper-15 {
    color: #ffffff;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 478px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 382px;
}

.home-page .frame-3 {
    align-items: center;
    display: flex;
    gap: 38px;
    left: 0;
    position: absolute;
    top: 63px;
    width: 857px;
}

.home-page .overlap-group-wrapper {
    height: 305px;
    position: relative;
    width: 433px;
}

.home-page .overlap-group-2 {
    height: 305px;
    position: relative;
}

.home-page .pexels-ekaterina {
    height: 298px;
    left: 0;
    position: absolute;
    top: 0;
    width: 428px;
}

.home-page .group-5 {
    height: 115px;
    left: 0;
    position: absolute;
    top: 190px;
    width: 433px;
}

.home-page .we-empower-FGLI-2 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: 373px;
}

.home-page .group-6 {
    height: 370px;
    left: 706px;
    position: absolute;
    top: 1553px;
    width: 721px;
}

.home-page .mentorship-community {
    color: #ffffff;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 382px;
}

.home-page .frame-4 {
    align-items: center;
    display: flex;
    gap: 38px;
    left: 0;
    position: absolute;
    top: 63px;
    width: 719px;
}

.home-page .we-empower-FGLI-3 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.50px;
    position: relative;
    width: 373px;
}

.home-page .div-wrapper {
    height: 307px;
    position: relative;
    width: 308px;
}

.home-page .overlap-group-3 {
    height: 307px;
    position: relative;
}

.home-page .element-hero {
    height: 304px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 304px;
}

.home-page .group-7 {
    height: 115px;
    left: 0;
    position: absolute;
    top: 192px;
    width: 308px;
}

.home-page .text-wrapper-16 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 1414px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 32px;
    width: 56px;
}

.home-page .group-8 {
    height: 34px;
    left: 1532px;
    position: absolute;
    top: 2218px;
    width: 76px;
}

.home-page .text-wrapper-17 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 74px;
}

.home-page .overlap-wrapper {
    height: 116px;
    left: -65px;
    position: absolute;
    top: 3408px;
    width: 1426px;
}

.home-page .overlap-3 {
    background-color: #000000;
    height: 116px;
    position: relative;
    width: 1416px;
}

.home-page .text-wrapper-18 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 231px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30px;
    width: 255px;
}

.home-page .text-wrapper-19 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 983px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30px;
    width: 255px;
}

.home-page .text-wrapper-20 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 983px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 64px;
    width: 255px;
}

.home-page .text-wrapper-21 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 231px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 64px;
    width: 177px;
}

.home-page .text-wrapper-22 {
    color: #ffffff;
    font-family: "Jaldi-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 1258px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 41px;
    width: 45px;
}

.home-page .unnamed-removebg-3 {
    height: 101px;
    left: 113px;
    object-fit: cover;
    position: absolute;
    top: 11px;
    width: 102px;
}
.events {
    position: relative;
    width: 1280px;
    height: 2921px;
    background-color: #ffffff;
    overflow: hidden;
}

.events .overlap {
    position: absolute;
    width: 1319px;
    height: 655px;
    top: 2150px;
    left: -39px;
}

.events .rectangle {
    position: absolute;
    width: 1280px;
    height: 655px;
    top: 0;
    left: 39px;
    background-color: #4a5573;
}

.events .text-wrapper {
    position: absolute;
    width: 488px;
    top: 43px;
    left: 114px;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.events .div {
    position: absolute;
    width: 500px;
    height: 400px;
    top: 145px;
    left: 122px;
    background-color: #9c9c9c;
    border-radius: 31px;
}

.events .rectangle-2 {
    position: absolute;
    width: 500px;
    height: 400px;
    top: 145px;
    left: 679px;
    background-color: #a4a4a4;
    border-radius: 31px;
}

.events .group {
    position: absolute;
    width: 700px;
    height: 204px;
    top: 346px;
    left: 0;
}

.events .blur-filter {
    position: relative;
    height: 204px;
}

.events .mask-group {
    position: absolute;
    width: 661px;
    height: 204px;
    top: 0;
    left: 39px;
}

.events .group-2 {
    position: absolute;
    width: 700px;
    height: 204px;
    top: 346px;
    left: 557px;
    background-image: url(./img/mask-group-2.png);
    background-size: 100% 100%;
}

.events .group-3 {
    position: absolute;
    width: 1063px;
    height: 108px;
    top: 408px;
    left: 152px;
}

.events .text-wrapper-2 {
    position: absolute;
    width: 488px;
    top: 0;
    left: 0;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.events .p {
    position: absolute;
    width: 456px;
    top: 74px;
    left: 2px;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.events .prelaw-q-a {
    position: absolute;
    width: 488px;
    top: 0;
    left: 567px;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.events .text-wrapper-3 {
    width: 456px;
    top: 74px;
    left: 569px;
    position: absolute;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.events .overlap-group {
    position: absolute;
    width: 1313px;
    height: 1412px;
    top: 738px;
    left: -9px;
}

.events .rectangle-3 {
    position: absolute;
    width: 1313px;
    height: 88px;
    top: 1324px;
    left: 0;
    background: linear-gradient(
        180deg,
        rgb(101, 108, 129) 0%,
        rgb(75, 86, 115) 100%
    );
}

.events .rectangle-4 {
    position: absolute;
    width: 1280px;
    height: 611px;
    top: 0;
    left: 9px;
    background-color: #4a5573;
}

.events .text-wrapper-4 {
    width: 328px;
    top: 124px;
    left: 74px;
    position: absolute;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.events .text-wrapper-5 {
    position: absolute;
    width: 488px;
    top: 636px;
    left: 81px;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.events .rectangle-5 {
    position: absolute;
    width: 1313px;
    height: 752px;
    top: 572px;
    left: 0;
    background-color: #656c81;
}

.events .rectangle-6 {
    position: absolute;
    width: 1313px;
    height: 88px;
    top: 523px;
    left: 0;
    background: linear-gradient(
        180deg,
        rgb(75, 86, 115) 0%,
        rgb(101, 108, 129) 100%
    );
}

.events .event-icon {
    position: absolute;
    width: 338px;
    height: 363px;
    top: 736px;
    left: 68px;
}

.events .text-wrapper-6 {
    position: absolute;
    width: 488px;
    top: 50px;
    left: 74px;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.events .text-wrapper-7 {
    width: 488px;
    top: 1134px;
    left: 72px;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    color: #ffffff;
    font-size: 40px;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

.events .text-wrapper-8 {
    width: 488px;
    top: 1136px;
    left: 658px;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    color: #ffffff;
    font-size: 40px;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

.events .overlap-wrapper {
    position: absolute;
    width: 332px;
    height: 355px;
    top: 736px;
    left: 658px;
}

.events .div-wrapper {
    position: relative;
    width: 338px;
    height: 363px;
    left: -4px;
    background-image: url(./img/event-icon-2.png);
    background-size: 100% 100%;
}

.events .text-wrapper-9 {
    position: absolute;
    width: 125px;
    top: 293px;
    left: 106px;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.events .text-wrapper-10 {
    width: 584px;
    top: 1208px;
    left: 658px;
    position: absolute;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.events .text-wrapper-11 {
    width: 518px;
    top: 1208px;
    left: 74px;
    position: absolute;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.events .rectangle-7 {
    position: absolute;
    width: 669px;
    height: 450px;
    top: 88px;
    left: 528px;
    background-color: #d9d9d9;
    border-radius: 41px;
}

.events .vector {
    top: 916px;
    left: 404px;
    position: absolute;
    width: 253px;
    height: 2px;
}

.events .img {
    top: 913px;
    left: 989px;
    position: absolute;
    width: 253px;
    height: 2px;
}

.events .rectangle-8 {
    position: absolute;
    width: 671px;
    height: 37px;
    top: 88px;
    left: 526px;
    background-color: #ffffff;
}

.events .screenshot {
    position: absolute;
    width: 671px;
    height: 429px;
    top: 109px;
    left: 526px;
}

.events .overlap-2 {
    position: absolute;
    width: 1635px;
    height: 752px;
    top: -14px;
    left: -218px;
}

.events .text-wrapper-12 {
    top: 61px;
    left: 755px;
    font-family: "Inter-Regular", Helvetica;
    color: #000000;
    font-size: 14px;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

.events .group-4 {
    position: absolute;
    width: 1293px;
    height: 752px;
    top: 0;
    left: 209px;
    backdrop-filter: blur(25.4px) brightness(100%);
    -webkit-backdrop-filter: blur(25.4px) brightness(100%);
    background: linear-gradient(
        180deg,
        rgb(255, 255, 255) 0%,
        rgb(255, 255, 255) 100%
    );
}

.events .text-wrapper-13 {
    position: absolute;
    top: 22px;
    left: 569px;
    font-family: "Jura-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.events .frame {
    position: absolute;
    width: 354px;
    height: 34px;
    top: 47px;
    left: 1100px;
    box-shadow: 0px 4px 4px #041e6780;
}

.events .text-wrapper-14 {
    position: absolute;
    width: 56px;
    top: 46px;
    left: 1414px;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.events .rectangle-9 {
    position: absolute;
    width: 1294px;
    height: 752px;
    top: 0;
    left: 209px;
    background: linear-gradient(180deg, rgb(217, 217, 217) 45.86%);
}

.events .pexels-pavel {
    position: absolute;
    width: 1280px;
    height: 738px;
    top: 14px;
    left: 218px;
}

.events .overlap-group-wrapper {
    position: absolute;
    width: 1255px;
    height: 72px;
    top: 26px;
    left: 232px;
}

.events .overlap-group-2 {
    position: relative;
    height: 72px;
    border-radius: 9px;
}

.events .navbar-wrapper {
    position: absolute;
    width: 1255px;
    height: 72px;
    top: 0;
    left: 0;
    background-color: #4a557380;
    border-radius: 9px;
    box-shadow: inset 0px 4px 18.4px 13px #041e674c;
    backdrop-filter: blur(8.7px) brightness(100%);
    -webkit-backdrop-filter: blur(8.7px) brightness(100%);
}

.events .navbar {
    display: inline-flex;
    align-items: center;
    gap: 63px;
    position: relative;
    top: 21px;
    left: 404px;
    background-color: #4a557380;
    box-shadow: 0px 4px 4px #041e6780;
}

.events .text-wrapper-15 {
    width: 79px;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    position: relative;
    margin-top: -1.00px;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.events .text-wrapper-16 {
    width: 51px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Jaldi-Bold", Helvetica;
    font-weight: 700;
    position: relative;
    margin-top: -1.00px;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.events .text-wrapper-17 {
    position: relative;
    width: 77px;
    margin-top: -1.00px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.events .text-wrapper-18 {
    width: 47px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    position: relative;
    margin-top: -1.00px;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.events .group-5 {
    position: absolute;
    width: 987px;
    height: 68px;
    top: 0;
    left: 0;
}

.events .unnamed-removebg {
    width: 77px;
    height: 76px;
    top: 0;
    left: -4px;
    position: absolute;
    object-fit: cover;
}

.events .text-wrapper-19 {
    position: absolute;
    width: 912px;
    top: 24px;
    left: 73px;
    text-shadow: 0px 4px 4px #041e6780;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.events .mask-group-2 {
    position: absolute;
    width: 1280px;
    height: 495px;
    top: 0;
    left: 218px;
}

.events .text-wrapper-20 {
    position: absolute;
    width: 307px;
    top: 447px;
    left: 280px;
    font-family: "Libre Caslon Display-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 75px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.events .text-wrapper-21 {
    width: 672px;
    top: 569px;
    left: 282px;
    position: absolute;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.events .overlap-3 {
    position: absolute;
    width: 1447px;
    height: 116px;
    top: 2805px;
    left: -68px;
}

.events .group-6 {
    position: absolute;
    width: 1426px;
    height: 116px;
    top: 0;
    left: 0;
}

.events .overlap-4 {
    position: relative;
    width: 1416px;
    height: 116px;
    background-color: #d9d9d9;
}

.events .text-wrapper-22 {
    position: absolute;
    width: 255px;
    top: 30px;
    left: 231px;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.events .text-wrapper-23 {
    position: absolute;
    width: 255px;
    top: 30px;
    left: 983px;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.events .text-wrapper-24 {
    position: absolute;
    width: 255px;
    top: 64px;
    left: 983px;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.events .text-wrapper-25 {
    color: #000000;
    position: absolute;
    width: 177px;
    top: 64px;
    left: 231px;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.events .text-wrapper-26 {
    color: #000000;
    position: absolute;
    width: 45px;
    top: 41px;
    left: 1258px;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.events .unnamed-removebg-2 {
    width: 102px;
    height: 101px;
    top: 11px;
    left: 113px;
    position: absolute;
    object-fit: cover;
}

.events .group-7 {
    position: absolute;
    width: 1426px;
    height: 116px;
    top: 0;
    left: 21px;
}

.events .overlap-5 {
    position: relative;
    width: 1416px;
    height: 116px;
    background-color: #000000;
}

.events .text-wrapper-27 {
    position: absolute;
    width: 255px;
    top: 30px;
    left: 231px;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.events .text-wrapper-28 {
    position: absolute;
    width: 255px;
    top: 30px;
    left: 983px;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.events .text-wrapper-29 {
    position: absolute;
    width: 255px;
    top: 64px;
    left: 983px;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.events .text-wrapper-30 {
    color: #ffffff;
    position: absolute;
    width: 177px;
    top: 64px;
    left: 231px;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.events .text-wrapper-31 {
    color: #ffffff;
    position: absolute;
    width: 45px;
    top: 41px;
    left: 1258px;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}
